
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Login Page</title>

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <h1>Login page</h1>
    <a href="/user" class="btn btn-primary">Login using SSO Circle account</a>
    <br/><br/>
    <p> To login You need to</p>
    <ol>
    <li> Create new <a href="http://www.ssocircle.com/">SSO Circle</a> account. </li>
    <li> Add <a href="/saml/metadata">this</a> new Service Provider information <em>com:baeldung:spring:ls</em> to your account "Manage Metadata -> Add new Service Provider"</li>
    </ol> 
    
    
</div>

</body>
</html>