# Allow Thymeleaf templates to be reloaded at dev time
spring.thymeleaf.cache: false
server.tomcat.access-log-enabled=true
server.tomcat.basedir: target/tomcat

server.port=8081

# Hibernate
spring.jpa.hibernate.ddl-auto: update

# Google OpenID
google.clientId=TODO
google.clientSecret=TODO
google.accessTokenUri=https://www.googleapis.com/oauth2/v3/token
google.userAuthorizationUri=https://accounts.google.com/o/oauth2/auth
google.redirectUri=http://localhost:8081/google-login