<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Users : View</title>
</head>
<body>
	<h1 layout:fragment="header">Users : Create</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		<div class="pull-right">
			<a th:href="@{/}" href="list.html"> Users </a>
		</div>
		<dl>
			<dt>ID</dt>
			<dd id="id" th:text="${user.id}">123</dd>
			<dt>Date</dt>
			<dd id="created" th:text="${#calendars.format(user.created)}">
				July 11, 2012 2:17:16 PM CDT</dd>
			<dt>Username</dt>
			<dd id="username" th:text="${user.username}">Username
			</dd>
			<dt>Email</dt>
			<dd id="email" th:text="${user.email}">Email</dd>
		</dl>
		<div class="pull-left">
			<a href="users" th:href="@{'/delete/' + ${user.id}}">
				delete </a> | <a href="form.html"
				th:href="@{'/modify/' + ${user.id}}"> modify </a>
		</div>
	</div>
</body>
</html>
