<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Users : Create</title>
</head>
<body>
<h1 layout:fragment="header">Users : Create</h1>
<div layout:fragment="content" class="container">
    <div>
        <a th:href="@{/user/}" href="users.html"> back to Users </a>
    </div>
    <br/>
    <form id="userForm" th:action="@{/user/(form)}" th:object="${user}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger text-center">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{id}" />
	    <div class="form-group row">
        	<label for="email" class="col-sm-2 col-form-label">Email</label>
        	<input type="email" th:field="*{email}"  class="col-sm-5 form-control"/>
        </div>
        <div class="form-group row">
        	<label for="password" class="col-sm-2 col-form-label">Password</label>
        	<input type="password" th:field="*{password}" class="col-sm-5 form-control"/>
        </div>
        <div class="form-group row">
        <label for="passwordConfirmation" class="col-sm-2 col-form-label">Confirm Password</label>
        <input type="password" th:field="*{passwordConfirmation}" class="col-sm-5 form-control"/>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </form>
</div>
</body>
</html>
