<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring OAuth Client Thymeleaf</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
        <a class="navbar-brand" th:href="@{/user/}">Baeldung OAuth2 Github Client</a>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-text">Hi, <span th:text="${name}"></span>&nbsp;&nbsp;&nbsp;
            </li>
            <li class="nav-item"><a href="/lsso-client/logout" class="btn btn-outline-secondary">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <!-- Welcome Text -->    
        <h1>Welcome!!</h1>
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <!-- Profile Image -->                
                    <img th:src="@{${img}}" class="img-thumbnail" width="100" height="100"/>
                </div>
            </div>
            <div class="col">
            <!-- Basic Attributes -->            
                <div th:text="${name}"/>
                <div th:text="${id}"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                <!-- Repos -->                
                    <h4>User Repos</h4>                
                    <div th:each="repo : ${repos}">
                        <div th:text="${repo.name}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>